[*.cs]

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider adding the 'required' modifier or declaring as nullable.
dotnet_diagnostic.CS8618.severity = none

# CA1708: Identifiers should differ by more than case
dotnet_diagnostic.CA1708.severity = none

# CA1716: Identifiers should not match keywords
dotnet_diagnostic.CA1716.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0320: Make anonymous function static
dotnet_diagnostic.IDE0320.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA1030: Use events where appropriate
dotnet_diagnostic.CA1030.severity = none

# CS9113: Parameter is unread.
dotnet_diagnostic.CS9113.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

dotnet_diagnostic.CA1724.severity = none

# CA1040: Avoid empty interfaces
dotnet_diagnostic.CA1040.severity = none

# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = none

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = none

dotnet_diagnostic.CA1812.severity = none

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none

# IDE0022: Use block body for method
dotnet_diagnostic.IDE0022.severity = none

# CA1000: Do not declare static members on generic types
dotnet_diagnostic.CA1000.severity = none
